<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>
    <header>
      <div>
        <h1>
          <img src="/assets/images/logo.svg" alt="Musicando">
        </h1>
        <p>La pratique musicale, un gage de réussite pour l’école</p>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
